.image-container {
    width: 100%;
    justify-content: space-around;
    /* background: linear-gradient(to bottom, #3b38d8, #4d4ad9); */
    /* border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; */
    flex-direction: column;
    align-items: center;
    height: 260px;
    
    /* margin-top: 20%; */
  }

  .home-page-container {
    text-align: center;
    padding: 3%;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: white;
    height: 552px;
  }

  .home-page-div{
    background-color: #4274eb;
    font-family: 'Montserrat', sans-serif;
  }

  .h1-font{
    color: #ffffff;
    font-size: 34px;
    font-weight: 600;
  }

  .supporting-text{
    color: #abc3fc;
    font-size: 20px;
    font-weight: 600;
  }

  .storage-info-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .storage-text{
      color: #ffffff;
      font-size: 24px;
      font-weight: 600;
  }
  
  .strong-medium-font{
      color: #abc3fc;
      font-size: 18px;
      font-weight: 600;
  }

  .home-page-div .MuiLinearProgress-barColorPrimary {
    background-color: #ff6aa2;
}

.search-input{
    border-radius: 50px;
    background-color: #edf1fa;
}

.tab-switch{
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}

.tab-selected{
    color: #345095;
    border-bottom: 1px solid #345095;
}

.folder-div{
    background-color: #f5f7fc;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 35px 50px;
    -moz-border-radius: 35px / 50px;
    padding: 10px 20px;
    position: relative; 
}

.files-div{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
}

.folder-heading{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.medium-font{
    text-align: left;
    color: #242833;
    font-size: 16px;
    font-weight: 600;
}

.small-font{
    font-size: 14px;
    color:#7e8494;
    font-weight: 600;
}

.file-image{
    border: 1px solid #ffffff;
    -webkit-border-radius: 31px 40px;
    -moz-border-radius: 31px / 40px;
}

.file-count{
    height: 30px;
    width: 30px;
    margin-left: -10px;
    background-color: #959fba;
    color: #ffffff;
    padding: 4px;
}

.folder-image-div{
    text-align: left;
    margin-top: 5px;
    display: flex;
    position: absolute;
    bottom: 10px;
}